.Sun {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.sun_background {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sun_shade {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: auto;
}

.sun {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: auto;
}

.sun_name {
    display: flex;
    position: absolute;
    top: 35%;
    left: 5%;
    overflow: hidden;
    font-family: Orbitron;
    font-size: 4vw;
    font-weight: bold;
    color: aliceblue;
}

.sun_text {
    display: flex;
    position: absolute;
    top: 60%;
    left: 5%;
    overflow: hidden;
    font-family: Inter;
    font-size: 1vw;
    color: aliceblue;
    line-height: 1.5;
}

.sun_diameter{
    display: flex;
    position: absolute;
    top: 73%;
    left: 5%;
    width: 25%;
    height: auto;
}

.sun_temp{
    display: flex;
    position: absolute;
    top: 73%;
    left: 33%;
    width: 24%;
    height: auto;
}